# This is a basic workflow to help you get started with Actions

name: Terraform Cleanup

# Controls when the workflow will run
on: workflow_dispatch

permissions:
  id-token: write # required to use OIDC authentication
  contents: read

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    defaults:
      run:
        shell: bash

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::184083701473:role/github-oidc
          role-duration-seconds: 900
          aws-region: us-west-2
          
      # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
      - name: Terraform Init
        run: terraform init -migrate-state
      
      # Checks that all Terraform configuration files adhere to a canonical format
      - name: Terraform Destroy
        run: terraform destroy -auto-approve -input=false
